description:Page containing site map link list.

customContent1:Intro code
customContent2:
customContent3:
customContent4:

allowMultiple:false
allowCreate:false
allowDelete:false
allowEditUrl:false
allowEditStatus:true

defaultName:Site Map
defaultTitle:%PROPERTY_NAME% Site Map
defaultUrl:sitemap

** template start **

<div class="content row">
	<section id="pageOuter" class="pageContent">

		<div class="pageIntro">
			<h1 class="pageTitle font">%PAGE_TITLE%</h1>
			<div class="pageCustom1">%PAGE_CUSTOM_CONTENT_1%</div>
		</div>			

		%SITEMAP%
	
	</section>
</div>