description:Page containing site map link list.

customContent1:General summary content for this page.
customContent2:
customContent3:
customContent4:

allowMultiple:false
allowCreate:true
allowDelete:false
allowEditUrl:false
allowEditStatus:true

defaultName:Site Map
defaultTitle:Site Map
defaultUrl:sitemap

** template start **

<div id="headerContainer">
	<div class="row">
			<div class="ppgLogo">
					<a href="index.html" title="Prime Accommodation Wellington">
							<img src="images/logo.png" title="Prime Accommodation Wellington" alt="Wellington Accommodation" border="0" />
					</a>
			</div>
			<div class="ppgContact">
					<a href="index.html" title="Prime Accommodation Wellington"><h2>Prime Accommodation</h2></a>
					<p>Wellington Accommodation New Zealand</p>
			</div>
			<div class="webrooms-datepicker">
			    %JQUERY_DATE_PICKER_CUSTOM_PAGE["Check In Date:","Check Availability","index.html"]%
			</div>
	</div>
</div>

<div class="headerSpace"></div>
		
<div class="row">
	<div id="pageContentTop" class="basicPage">
		<h1 class="pageTitle">%PAGE_TITLE%</h1> 
	    %PAGE_CUSTOM_CONTENT_1%
	    <div class="box">
	    	%SITEMAP%
	    </div>
	</div>
</div>


%PROPERTIES_MAP_IN_THIRDPARTY%