<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="search.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
                <add value="index.php" />
            </files>
        </defaultDocument>
				<rewrite>
					<rules>
					<clear />
						<rule name="Redirect to https" stopProcessing="true">
							<match url=".well-known/*" negate="true" />
							<conditions>
							<add input="{HTTPS}" pattern="on" negate="true" />
							<add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
							</conditions>
							<action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
						</rule>
					</rules>
				</rewrite>
    </system.webServer>
</configuration>
