
/***************************************/
/*       social media icons 20px       */
/***************************************/

.socialIcons .facebook-link,
.socialIcons .twitter-link,
.socialIcons .googleplus-link,
.socialIcons .tripadvisor-link { 
	width:20px;  
	height:20px; 
	display:inline-block; }
	
.socialIcons .facebook-link a,
.socialIcons .twitter-link a,
.socialIcons .googleplus-link a,
.socialIcons .tripadvisor-link a { 
	width:20px; 
	height:20px; 
	background-size:cover !important; 
	text-decoration:none;
	display:block; 
	text-indent:-999px; 
	overflow:hidden; }
	
.socialIcons .facebook-link a { background:url("../images/icon_facebook.png") no-repeat left top; }
.socialIcons .twitter-link a { background:url("../images/icon_twitter.png") no-repeat left top; }
.socialIcons .googleplus-link a { background:url("../images/icon_googleplus.png") no-repeat left top; }
.socialIcons .tripadvisor-link a { background:url("../images/icon_tripadvisor.png") no-repeat left top; }

/***************************************/
/*       social media icons 24px       */
/***************************************/

.social .facebook-link,
.social .twitter-link,
.social .googleplus-link,
.social .tripadvisor-link { 
	width:24px; 
	height:24px;
	display:inline-block; }

.social .facebook-link a,
.social .twitter-link a,
.social .googleplus-link a,
.social .tripadvisor-link a  { 
	width:24px; 
	height:24px; 
	background-size:cover !important; 
	text-decoration:none; 
	display:block; 
	text-indent:-999px; 
	overflow:hidden; }

.social .facebook-link a { background:url("../images/icon_facebook.png") no-repeat left top; }
.social .twitter-link a { background:url("../images/icon_twitter.png") no-repeat left top; }
.social .googleplus-link a { background:url("../images/icon_googleplus.png") no-repeat left top; }
.social .tripadvisor-link a { background:url("../images/icon_tripadvisor.png") no-repeat left top; }
