/*========================= 01 ==========================*/	
/*=======================================================*/
/*======================== RESET ========================*/
/*=======================================================*/
/*=======================================================*/	

		/*------ Global Reset & Standards ------*/
			html, body, div, span, applet, object, iframe,
			h1, h2, h3, h4, h5, h6, p, blockquote, pre,
			a, abbr, acronym, address, big, cite, code,
			del, dfn, em, img, ins, kbd, q, s, samp,
			small, strike, strong, sub, sup, tt, var,
			b, u, i, center,
			dl, dt, dd, ol, ul, li,
			fieldset, form, label, legend,
			table, caption, tbody, tfoot, thead, tr, th, td,
			article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video { margin:0; padding:0; border:0; font:inherit; vertical-align:baseline; }
			table { border-collapse:collapse; border-spacing:0; }
			.left, .columns.left { float:left; }
			.right, .columns.right { float:right; }
			.hide { display:none; }
		
		/*------ Responsive Grid ------*/
			/*.row { width:100%; max-width:1170px; min-width:800px; margin:0 auto; } */
			.row .row { min-width:0px; }
			.column, .columns { margin-left:2.127663%; float:left; min-height:1px; position:relative; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
			.column:first-child, .columns:first-child, .alpha { margin-left:0px; }
			.column.omega, .columns.omega { float: right; }
			.row .one.columns 		{ width: 6.382989%; }
			.row .two.columns 		{ width: 14.893641%; }
			.row .three.columns 	{ width: 23.404293%; }
			.row .four.columns 		{ width: 31.914945%; }
			.row .five.columns 		{ width: 40.425597%; }
			.row .six.columns 		{ width: 48.936249%; }
			.row .seven.columns 	{ width: 57.446901%; }
			.row .eight.columns 	{ width: 65.957553%; }
			.row .nine.columns 		{ width: 74.468205%; }
			.row .ten.columns 		{ width: 82.978857%; }
			.row .eleven.columns	{ width: 91.489509%; }
			.row .twelve.columns	{ width: 100%; }
			img, object, embed 		{ max-width: 100%; height: auto; }
			img { -ms-interpolation-mode: bicubic; }
			.row:before, .row:after, .clearfix:before, .clearfix:after { content:""; display:table; }
			.row:after, .clearfix:after { clear: both; }
			.row, .clearfix { zoom: 1; }
		
/*------ Mobile Grid ------*/
@media only screen and (max-width:800px) 
{
body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
/*.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; } */
.row .row .column, .row .row .columns { padding: 0; }
.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
.column:last-child, .columns:last-child { margin-right: 0; float: none; }
.row .row .column, .row .row .columns { padding: 0; }
.column, .columns { width: auto !important; float: none; margin-left: 0px; margin-right: 0px; }
.column:last-child, .columns:last-child { margin-right: 0; float: none; }
[class*="column"] + [class*="column"]:last-child { float: none; }
[class*="column"]:before, [class*="column"]:after { display: table; }
[class*="column"]:after { clear: both; }
#webroomsBookingEngine iframe { width:1px; min-width:100%; *width:100%; }
}
			

/*========================= 02 ==========================*/	
/*=======================================================*/	
/*=================== WEBSITE STYLING ===================*/
/*=======================================================*/
/*=======================================================*/	

html, body {
	margin:0;
	padding:0;
	font-family:'Open Sans', sans-serif;
	color:#444;
	background:#fff; 
}
div#preload { display: none; }
a { color:#118AD7; text-decoration:none; }
a:hover { color:#379dea; }
b, strong { font-weight:600; }
p { margin:1em 0; }
h1 { text-align:center; padding-bottom:15px; color:#565656; font-size:26px; font-weight:400; }
h2 { font-size:20px; color:#565656; font-weight:600; }
h3 { font-size:16px; color:#565656; font-weight:600; }
h4 { font-size:14px; color:#565656; font-weight:600; }
hr { height:0; border:none; border-top:#eee solid 1px; margin:1em 0; }
ul, ol { margin:1em 0; }
ul li { margin:0 0 0 20px; list-style:disc; }
ol li { margin:0 0 0 20px; }
.mobile { display:none; }
.basicPage ul { margin:1em 0; margin-left:20px; }
.box { padding:30px; border:1px solid #eee; margin-bottom:20px; }
.contactForm .formLabel { color:#1f4284; font-weight:600; }

/* home slideshow */
#homeSlideshow { height:700px; background:#3d3f5e; position:relative; padding:0; }
#homeSlideshow .cycle-slideshow { height:700px; width:100%; margin:0; }
#homeSlideshow .cycle-slideshow li { margin:0; width:100%; height:100%; }
.slide { background-size:cover; background-position:right top; height:700px; width:100%; position:relative; }
.posRelative { position:relative; }
.slideCaption { position:absolute; left:50px; top:0; color:#fff; padding:15px 25px; text-align:left; font-style:italic; background-color:rgba(0,0,0,0.5); opacity:0.5;
	background-image: url(../images/icon_camera.png); background-position:10px center; background-repeat:no-repeat; padding-left:35px; }
.slideCaption a { color:#fff; }
.slideCaption:hover { opacity:0.75; }
.homeSlideshowPrev,
.homeSlideshowNext { z-index:1000; position:absolute; line-height:100%; top:250px; border:none; background:none; padding:20px; font-weight:200; font-family:'Open Sans', sans-serif; color:#fff; 
	opacity:0.5; background:rgba(0,0,0,0.4); outline:none; }
.homeSlideshowPrev { left:0; }
.homeSlideshowNext { right:0; }
.homeSlideshowPrev:hover,
.homeSlideshowNext:hover { opacity:1; cursor:pointer; }

/* btn */
.btn,
a.btn { display:block; border:none; text-align:center; padding:15px 0; border-bottom:2px solid rgba(0,0,0,0.2); font-family:'Open Sans', sans-serif; font-weight:400; background:#2d2e45; color:#e2a71a; }
a.btn:hover { color:#fff; background:#333; }

/* footer */
.footerBlock { background:#2d2e45; color:#fff; text-align:center; margin-top:40px; }
.footerBlock hr { height:0; border:none; border-bottom:1px solid #395993; }
.footerLinks { display:inline-block; }
.footerNav ul { list-style:none; }
.footerNav li { display:inline-block; text-transform:uppercase; margin:0; color:#fff; }
.footerNav li a { color:#fff; padding:0 10px; }
.footerCopy a { color:#4d71b2; }

/* sitemap */
.sitemap-caption,
.sitemap-title, .sitemap-xml-link  { display:none; }

/* bar 
.headerBar { width:100%; text-indent:85px; line-height:25px; color:#fff; opacity:0; height:0; 
	background:#2d2e45; }
.scroll-to-fixed-fixed { height:25px; opacity:1; box-shadow:0 5px 10px rgba(0,0,0,0.2); padding:10px 0; }

/* side nav 
.menuBtn { position:absolute; top:180px; right:0; left:0; z-index:9998; background:#ffc948; width:100%; }
.menuBtn span { background:#ffc948; color:#fff; padding:10px 15px; cursor:pointer; line-height:100%; display:inline-block; }
.menuBtn span:hover { cursor:pointer; background:#111; }
.navInner { padding:0 20px; color:#fff; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.navInner h3 { color:#e2a71a; border-bottom:1px solid rgba(255,255,255,0.1); padding-bottom:5px; }
.navInner ul { margin:0 0 1em 0; }
.sidenav .navInner li { list-style:none; margin:0; padding:0; border-bottom:1px solid rgba(255,255,255,0.5); }
.sidenav .navInner a { padding:8px 0; text-transform:uppercase; text-decoration:none; font-weight:600; color:#fff; display:block; transition:0.3s; }
.sidenav .navInner a:hover, .offcanvas a:focus{ background:rgba(255,255,255,0.1); color:#ccc; }
.sidenav .closebtn { position:absolute; top:5px; right:20px; color:#ccc; }
.sidenav .closebtn:hover { color:#fff; }
.menuLogo { height:70px; margin:0 0 10px 20px; }

/* member nav 
#group-login-box { position:fixed; top:0; right:0; z-index:9999; padding:10px; background:#222; color:#fff;; box-sizing:border-box; }
#group-login-box a { color:inherit; }
#login-trigger { background:url(../images/icon-profile-y.png) left center no-repeat; background-size:auto 80%; padding-left:20px; display:inline-block;
	color:#e2a71a; height:25px; line-height:30px; cursor:pointer; }
#login-trigger:hover { cursor:pointer; color:#fff; }
#login-trigger > span { float:right; margin-left:5px; }
#group-login-box .login-outer { min-width:250px; padding:30px; background:#3d3f5e; }
.email-outer input,
.password-outer input { border:none; background:#fff; border-radius:2px; margin:2px 0; width:100%;
	color:#666; font-size:14px; font-family:'Open Sans', sans-serif; line-height:30px; height:30px; outline:none; text-indent:8px; }
.button-outer > input { display:block; border:none; text-align:center; padding:8px 0; border-bottom:2px solid rgba(0,0,0,0.2); font-family:'Open Sans', sans-serif; font-weight:400; background:#e2a71a; color:#fff;
	width:100%; cursor:pointer; margin-top:2px; font-weight:600; text-transform:uppercase; }
.button-outer > input:hover { opacity:0.9; }
ul.login-tools { margin-bottom:0; }
.login-tools li { font-size:12px; opacity:0.7; line-height:20px; }
.login-tools li:hover { opacity:1; }
.login-tools label { font-size:12px; vertical-align:middle; display:block; cursor:pointer; margin:0; margin-right:4px; }
.login-tools .keepsignedin input[type="checkbox"] { margin:0 4px 0 0; }
.login-tools .forgotpassword a { background:url(../images/icon_lock.png) left center no-repeat; background-size:auto; padding-left:17px; }
.login-tools .signup a { background:url(../images/icon_plus.png) left center no-repeat; background-size:auto; padding-left:17px; }
#logoutbutton { font-size:14px; color:#fff; float:right; display:inline-block; margin-left:10px; }
#logoutbutton:hover { cursor:pointer; color:#fff; }
#login-content { display:none; }
.login-welcome, #logoutbutton { line-height:25px; }

/* profile 
#group-guest-dashboard .guest-profile-outer { background:#f5f5f5; margin-top:20px; padding:30px; }
#group-guest-dashboard .guest-booking-list-outer { padding:30px 0 0 30px; }
#group-guest-dashboard .guest-booking-list-outer h2 { margin-bottom:10px; }
.booking-tabs > a { background:#eee; box-sizing:border-box; text-align:center; display:inline-block; border:1px solid #ddd; padding:5px 0; cursor:pointer; color:#999; width:50%; } 
.booking-tabs a.tab-booking-selected { background:#fff; border-bottom:none; } 
.booking-tabs > a:hover { color:#666; background:#f5f5f5; }
.rtd-tab-selected { background:#fff; border-bottom:none; }
.rtd-tab-selected:hover { background:#fff; color:#999; }

.guest-profile-outer .profile-row {}	
.guest-profile-outer .profile-row .profile-label { font-weight:600; display:block; margin-top:5px; }
.guest-profile-outer .profile-row .profile-value { display:block; background:#fff; padding:0 5px; line-height:30px; min-height:30px; box-sizing:border-box; border-bottom:1px solid #ddd; }
.guest-profile-outer .btn { display:block; margin-top:10px; width:100%; cursor:pointer; }
#group-guest-dashboard .login-outer { background:#2d2e45; padding:30px; margin-top:10px; color:#fff; }	
#group-guest-dashboard .login-outer a { color:#fff; }
#group-guest-dashboard .login-outer .button-outer > input {  }
#profileform { padding:30px; border:1px solid #eee; margin-top:10px; }
.profile-label { color:#555; font-weight:600; margin-top:10px; }
.profile-value textarea,
.profile-value input,
.profile-value select { border:1px solid #ccc; padding:.6em; box-sizing:border-box; width:100%; display:inline-block; margin:8px 0; font-family:inherit; vertical-align:top; }
.save-row .btn { padding:8px 25px; font-weight:600; text-transform:uppercase; margin-top:10px; cursor:pointer; color:#fff; }

ul.guest-booking-list { border:1px solid #ddd; border-top:none; padding:30px; margin:-1px 0 0 0; }
.guest-booking-listitem { list-style:none; margin:0; border-bottom:1px solid #ddd; padding:10px 15px; }
.guest-booking-listitem:hover { background:#f5f5f5; }
.booking-label { font-weight:700; color:#3d3f5e; }
.booking-check-in-date { font-weight:600; }
.booking-value { font-weight:600; display:inline-block; }
.booking-details-link { display:inline-block; margin:0 5px; }
.booking-status { display:inline-block; font-weight:600; }
.status-Confirmed { color:#46b751; float:right; }

.booking-details-outer .item-row { padding:10px; background:#f5f5f5; border-bottom:1px solid #fff; }
.bkg-titlebar { font-weight:600; font-size:16px; padding:10px 0; }
.bkg-titlebar,
.booking-details-outer .item-row > div { display:inline-block; width:auto; margin-right:0.5em; }
.item-label { color:#999; }
.item-value { color:#111; }
.booking-details-outer,
.booking-details-outer .terms { padding:30px; margin-top:20px; border:1px solid #eee; }
.cardreceipts { padding:30px; margin-top:20px; font-family:"Courier New", Courier, monospace; background:#eee; color:#111; }
.booking-details-outer .totals { background:#FFFFE5; padding:20px 10px; text-align:right; }
.booking-details-outer .totals .item-row { border:none; padding:0; background:none; }
.booking-details-outer .item-label-normal { display:inline-block; width:auto; margin-right:0.5em; color:#000; font-weight:normal; text-align:right; }
.booking-details-outer .infobox.conversion { font-size:10px; font-style:italic; color:#999; }
.booking-details-outer .totals .item-label { color:#000; font-weight:bold; text-align:right; }
.item-totalcol { float:right; text-align:right;	color:#4CC552; font-weight:700; }

.guest-profile-outer #profileform { margin:0; background:none; border:none; padding:0; }
.guest-profile-outer #profileform input, 
.guest-profile-outer #profileform textarea,
.guest-profile-outer #profileform select { width:100%; box-sizing:border-box; margin:5px 0; }


/*************** PROPERTY ***************/

/* datepicker page */
.pageBanner { background:#1f4284; height:40px; padding:10px; position:fixed; top:0; left:0; right:0; box-shadow:0 0 5px rgba(0,0,0,0.3); z-index:9999; overflow:hidden; }
.pageBanner .row { position:relative; }
.pageBanner .headerLogo { height:40px;
	-webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin:0; position:absolute; top:0; left:0; width:29%; }
.pageBanner .headerLogo img { height:auto; max-height:40px; position:relative; top:55%; transform:translateY(-50%); }
.searchBanner .headerLogo { top:10px; left:10px; }
.pageBanner .datepicker-button { padding:0 20px; font-size:16px; line-height:40px; font-weight:400; }
.pageBanner .datepicker-checkin { height:40px; background-color:rgba(255,255,255,0.3); background-image:url(../images/icon_calendar.png); background-size:16px; background-position:10px center; background-repeat:no-repeat;
	 padding:0 0 0 35px; border-bottom:2px solid #308dd4; }
.pageBanner .datepicker-label, 
.pageBanner .datepicker-formstyle, 
.pageBanner .datepicker-input { line-height:40px; padding:0; font-size:14px; color:#fff; vertical-align:top; }
#propContent { padding:30px 0; margin-top:120px; }
.searchBanner { position:relative; }

/* property page */
.property-contact { padding:0; margin:-20px 0 20px 0; border:1px solid #ddd;; position:relative; height:350px; font-size:15px; line-height:150%; color:#333; overflow:hidden; }
.property-contact h2 { color:#565656; font-size:22px; font-weight:600; }
.property-contact-box { width:40%; }
.property-contact-details { padding:40px; overflow:hidden; }
.property-contact-details a { text-decoration:none; }
.property-contact span { font-weight:400; color:#999; display:inline-block; clear:left; }
.property-contact a { color:#333; text-decoration:none; }
.property-contact a:hover { color:#379dea; }
.property-contact .contact-address { margin:10px 0; background-image:url("../images/icon_map.png"); background-repeat:no-repeat; background-position:left 2px; background-size:auto 17px; padding-left:20px; line-height:20px; }
.property-contact .property-image { float:right; position:absolute; top:0; right:0; width:60%; height:100%; background:#ddd; background-size:cover; background-position:center top; }
/*.property-contact .property-image { float:right; position:relative; top:0; right:0; width:60%; height:100%; background:#ddd; background-size:cover; background-position:center top; }*/
.property-contact .contact-row { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.facebook-link { width:20px; height:20px; overflow:hidden; display:inline-block; }
.facebook-link a { width:20px; height:20px; background:url("../images/icon_facebook.png") no-repeat left top; text-decoration:none; display:block; text-indent:999px; }
.property-contact a.datepicker-button { margin:0; display:block; font-size:16px; font-weight:400; margin-top:10px; color:#fff; padding:10px 0; }
.property-contact a.datepicker-button:hover { background:#72c91c; color:#fff }

/* slideshow */
.property-contact .cycle-slideshow { height:100%; }
.cycle-slide .gallery-image { width:100%; height:100%; background-repeat:no-repeat; background-size:cover; background-position:center center; }
.cycle-slide .gallery-caption { display:none; }
.propPrev,
.propNext { position:absolute; z-index:997; line-height:100%; top:24px; border:none; background:none; padding:0; font-size:18px; font-weight:400; font-family:'Open Sans', sans-serif; color:#fff; opacity:0.7; outline:none; }
.propPrev { right:40px; }
.propNext { right:25px; }
.propPrev:hover,
.propNext:hover { opacity:1; cursor:pointer; }

/* description */
.property-facilities-div .left, 
.property-facilities-div .right { float:none; }
.property-facilities-div li { margin-bottom:0; }
.proppageDesc { margin-top:1em; }
.proppageDesc ul { margin:0; }

/* property outers */
.booking-engine-outer { margin:120px auto 0; }
#webroomsBookingEngine { width:100%; }

/** webrooms room description **/
/*title/from/cap*/
h2.roomtype-category { color:#1f4284; font-size:22px; font-weight:600; text-align:left; margin:20px 0; text-transform:capitalize; text-indent:40px; }
.rwrRoomtype { padding:40px; border:1px solid #ddd; position:relative; margin:0; text-align:left; clear:both; min-height:280px; margin-bottom:20px; }
.rwrRoomtype h2 { color:#000; font-size:20px; font-weight:400; margin:0 0 3px 0; padding:0; text-transform:capitalize; }	
.rwrRoomtype .desc-cap { color:#333; background-position:center left; background-repeat:no-repeat; background-size:16px; padding-left:22px; line-height:20px; 
	background-image:url('../images/icon-guests.png'); background-image:none, url('../images/icon-guests.svg'), url('../images/icon-guests.png'); opacity:0.75; }
/*photos thumbs*/
.rwrRoomtype .desc-images { height:240px; overflow:hidden; position:absolute; top:30px; right:30px; }
.rwrRoomtype .desc-images a { display:inline-block; width:50px; height:35px; overflow:hidden; margin:0 5px 0 0; box-shadow:1px 1px 2px rgba(0, 0, 0, 0.2); opacity:0.7; position:relative; }			
.rwrRoomtype .desc-images a img { height:35px; width:100%; margin:auto; object-fit:cover; object-position:50% 50%; }
.rwrRoomtype .desc-images a.first { margin:0 0 5px 0; width:100%; height:240px; opacity:1; }	
.rwrRoomtype .desc-images a.first img { height:100%; width:100%; }
.rwrRoomtype .desc-images a:hover { cursor:url('../images/magnify.cur'), -moz-zoom-in; opacity:0.9; }
/*content*/
.rwrRoomtype .desc-text-div { overflow:auto; }
/*description*/
.rwrRoomtype .desc-description-outer { padding:15px 0; }
.rwrRoomtype .no-images .desc-description-outer {  }
/*features*/
.rwrRoomtype ul.desc-features-outer { margin:0 0 15px 20px; padding:0; border-radius:0; color:#666; }
.rwrRoomtype ul.desc-features-outer:after { content:''; display:block; clear:both; }
.rwrRoomtype ul.desc-features-outer li { line-height:16px; margin:0; box-sizing:border-box; padding-right:10px; float:left; width:50%; }
/* webrooms features */
.desc-tabs { display:block; width:55%; }
.rtd-tab { width:50%; background:#eee; box-sizing:border-box; text-align:center; display:inline-block; border:1px solid #eee; padding:5px 0; cursor:pointer; color:#999; margin-top:5px; }
.rtd-tab:hover { color:#666; background:#f5f5f5; }
.rtd-tab-selected { background:#fff; border-bottom:none; }
.rtd-tab-selected:hover { background:#fff; color:#999; }
.rwrRoomtype .desc-text-div,
.popup-desc .features-div { box-sizing:border-box; padding:5px 20px 10px 20px; border:1px solid #eee; border-top:none; margin:-1px 0 10px; }
.popup-desc .features-div { width:55%; padding:15px 20px;  }
.features-div .ASCategory { display:inline-block; color:#1f4284; font-weight:600; margin-top:3px; }
.features-div .ASCategoryFeatures { display:block; }
.features-div .ASField-outer { display:inline-block; margin-left:5px; padding-left:5px; border-left:1px solid #ddd; }
.features-div .ASCategoryFeatures .ASField-outer:first-child { border:none; padding-left:0; margin-left:0; }
/*avilability*/
.desc-avail h4 { display:none; }
.desc-avail-table { overflow:auto; font-family:Arial, Helvetica, sans-serif; text-align:center; }
.desc-avail-table table { margin:0 auto; font-size:10px; border-collapse:collapse; clear:both; width:100%; }
.desc-avail-table table th { font-weight:normal !important; color:#aaa; background:#eee; width:85px; border:1px solid #fff; padding:5px 0; }	
.desc-avail-table table td { padding:10px 0; border:1px solid #fff; }
/*gradient*/
.desc-avail-table table .yes-avail { color:#000; background:#a9ea4d;}
.desc-avail-table table .yes-avail:hover { cursor:pointer; background:#94e521; }
.desc-avail-table table .no-avail { color:#999; background:#ddd; }
/* button */
.book-roomtype { padding:7px 0; display:block; text-transform:uppercase; border:none; cursor:pointer; color:#ffc948; text-decoration:none; text-align:left; font-family:'Open Sans', sans-serif; margin-top:3px;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis; background:#2d2e45; border-bottom:2px solid rgba(0,0,0,0.1); transition:background 150ms ease-in-out; text-shadow:1px 1px 1px rgba(0,0,0,0.2); }
.book-roomtype:hover { background:#111; }
.book-title { font-size:18px; padding-left:25px; color:#fff; font-weight:700; }
.book-sub { color:#fff; font-weight:400; font-size:13px; margin-left:5px; }
/* widths */
.desc-avail,
.desc-text-div,
.fromCap,
.rwrRoomtype h2 { width:55%; }
.rwrRoomtype .desc-images { width:40%; }
/* no images */
.no-images-outer { min-height:0; }
.no-images-outer .desc-avail,
.no-images-outer .desc-text-div,
.no-images-outer .fromCap,
.no-images-outer .rwrRoomtype h2 { width:auto; }
/* map */
.property-map { margin:50px 0; width:100%; }

/* articles */
.event-complete .pageTitle { display:none; }
.event-complete .event-inner { margin:40px 0; padding:0 0 40px 0; list-style:none; min-height:200px; border-bottom:1px solid #eee; }
.event-complete .event-image { width:350px; height:200px; background-size:cover; background-position:center center; box-shadow:0 1px 2px rgba(0,0,0,0.5); float:right; margin-left:30px; }
.event-complete .event-name { font-size:20px; color:#555; font-weight:600; margin-bottom:10px; }
.event-complete .event-venue { background:url(../images/icon_map.png) no-repeat; background-position:0 top; padding-left:25px; line-height:24px; color:#999; }
.event-complete .event-daterange { background:url(../images/icon_calendar.png) no-repeat left top; padding-left:25px; line-height:24px; color:#999; }
.event-complete .event-description { margin:10px 0; }
.event-complete .event-links a { background: url(../images/icon_xlink.png) no-repeat left center; display:block; padding-left:25px; }
.event-complete .event-youtube { background: url(../images/icon_youtube.png) no-repeat left center; display:block; background-size:14px 14px; padding-left:25px; }
.event-complete .event-youtube iframe { display:none; } 
.event-complete .event-facebook { background: url(../images/icon_facebook.png) no-repeat left center; display:block; background-size:14px 14px; padding-left:25px; }
				
/* member list */
.membersPage ul.property-group-inner { margin:0; }
.membersPage li.property-inner { margin:0 1%; list-style:none; clear:both; width:48%; display:inline-block; padding:1% 0; border-bottom:1px solid #eee; }
.membersPage .property-image { height:80px; width:30%; background-size:cover; background-position:center center; margin-right:2%; display:inline-block; background-color:#ddd;
	background-image:url(../images/background_no-image1.jpg); }
.membersPage .property-details { width:68%; display:inline-block; vertical-align:top;  }
.membersPage .property-name { font-size:14px; color:#1e4284; font-weight:600; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; margin-top:10px; }
.membersPage .property-address { background-image:url("../images/icon_map.png"); background-repeat:no-repeat; background-position:left 3px; background-size:auto 12px; padding-left:15px; margin:3px 0;
	white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }

/* Golden Chain */
.yellow { color:#e2a71a; }
.search-button { background:#000 !important; }
.search-button:hover {background:#e2a71a;}
.non-button-hide, .non-button-show { background:#333 !important; }
.searchBox-outer, #searchBox, #check-in-out, #q-guests, .search-button { border-radius:2px; box-shadow:0 2px 5px rgba(0,0,0,0.3); }
.GC .pageBanner { box-shadow:none; }
.GC .resultsFilters { background:#2d2e45; }
.GC .resultsFilters h2 { color:#e2a71a; }
.GC .resultsFilters p { color:#fff; }
.GC .filterLocation,
.GC .filterCheckin { border-bottom:1px solid rgba(255,255,255,0.2); }
.GC .result-outer a.more-detail { background:#2d2e45; color:#e2a71a; }
.GC .result-outer a.more-detail:hover { background:#333; color:#fff; }
.GC .adv-search-toggle:hover { background:#222; }
.GC #adv-search-outer { background:#fff; padding:20px; box-shadow:0 0 3px rgba(0,0,0,0.2); }
.GC .result-outer h3 { color:#565656; font-weight:600; }
.GC .result-outer .result-image { height:180px; width:30%; }
.GC .result-outer .result-contact { width:66%; left:32%; }
.GC .result-outer .availability-status { width:46%; left:32%; }
.GC .result-outer .result-description { display:block; overflow:hidden; height:80px; max-height:80px; font-size:14px; margin-top:20px; width:66%; }
.GC .result-outer .availability-status { height:40px; line-height:40px;  }
.GC .result-outer a.more-detail { height:40px; line-height:43px; }
.GC .result-outer .yes-availability .book-now { margin-left:10px; }
.GC .result-outer .yes-availability a { font-size:14px; }
 .headerLogo { display:inline-block; padding:30px 1%; width:20%; }
 .headerLogo:after { content:''; height:0; display:block; clear:both; }
 .headerLogo img { max-height:140px; }
 .headerBookPos { color:#fff; }
 .headerBookPos h2 { display:inline-block; font-size:26px; line-height:100%; color:#fff; font-weight:700; text-transform:uppercase; }
 .headerBookPos h3 { display:inline-block; font-size:26px; line-height:100%; color:#e2a71a; font-weight:300; font-style:italic; }
 .headerBook { margin:10px 0; }
 #resultsBox { z-index:999; }
 .property-contact { background:#fff; border:1px solid #fff; box-shadow:0 0 10px rgba(0,0,0,0.2); margin:0 0 30px 0; overflow:initial; min-height:380px; display:table; width:100%; }
 .property-contact ul.cycle-slideshow,
 .property-contact ul.cycle-slideshow li { margin:0; width:100%; height:100%; }
 .cycle-slide .gallery-image { height:100%; }
 .cycle-slide .gallery-caption { opacity:0; }
 #propContent h1 { margin-bottom:0; }
 .proppageDesc { padding:30px; margin:0; }
 h2.roomtype-category { font-size:26px; margin-bottom:10px; text-indent:0; font-weight:400; }
 .rwrRoomtype { padding:0; border:none; border-top:1px solid #eee; margin:10px 0 40px; padding-top:30px; min-height:240px; }
 .rwrRoomtype .desc-images { right:0; }
.facilitiesTable { display:table; box-sizing:border-box; padding:40px; box-shadow:0 0 10px rgba(0,0,0,0.2); width:100%; }
 .property-facilities-div, .property-features-div { width:100%; }

.property-contact-box .property-stars { position:absolute; left:44%; top:20px; z-index:999; }
.property-contact-box .property-contact-details a.search-button { color:#ffc948; display:block; margin-top:10px; background:#2d2e45 !important; }

.properties-map-outer { width:100%; height:350px; background:#ddd; box-shadow:0 0 10px rgba(0,0,0,0.2); }
.booking-engine-outer { background:#fff; border:1px solid #fff; margin:auto; padding:20px 0; margin-top:91px; }
.rwrRoomtype .desc-cap { background-image:url(../images/icon_guests.png); }
.pageArticles .event-complete .event-links a { background:url(../images/background_booking.png) left 3px no-repeat; background-size:16px auto; line-height:22px; font-weight:600; color:#1f4284; display:table; }
.pageArticles .event-complete .event-links a:hover { color:#118AD7; }
.note { font-size:11px; font-style:italic; background:lightyellow; padding:20px; }

/* home */
.homePage { padding:40px 0; }
.homeicon { margin:0 auto 10px auto; display:block; }
.boxes h2 { text-align:center; font-weight:400; }
.partners { text-align:center; }
.partners img { display:inline-block; margin:15px; }
.partners a:hover { opacity:0.6; }
h2.pageTitle { text-align:center; padding-bottom:15px; color:#1e4284; font-size:26px; font-weight:400; border-bottom:1px solid #eee; margin-bottom:20px; }

/* home blue boxes */
.blueBG { background:#1f4284; margin:70px 0; padding:80px 0; }
.blueBG h2 { color:#e2a71a; text-align:center; padding-bottom:30px; font-size:26px; font-weight:400; }
.blueBG .three { padding:0 10px; }
.blueBG .btn { background:#333; color:#fff; }
.blueBG .btn:hover { background:#222; }
.blueBG .event-teasers h2.pageTitle,
.blueBG .event-teasers .propPrev, 
.blueBG .event-teasers .propNext,
.blueBG .event-teasers .event-venue,
.blueBG .event-teasers .event-daterange,
.blueBG .event-teasers .event-teaser,
.blueBG .event-teasers .event-link { display:none; }
.blueBG .event-teasers { position:relative; border:7px solid #fff; box-shadow:0 0 10px rgba(0,0,0,0.4); margin:0 0 30px 0; }
.blueBG .event-teasers ul.event-list-inner { margin:0; }
.blueBG .event-teasers li.event-inner { width:100%; margin:0; }
.blueBG .event-teasers .event-image { width:100%; height:150px; background-size:cover; background-position:center; }
.blueBG .event-teasers .event-name { position:absolute; bottom:10px; left:10px; }
.blueBG .event-teasers .event-name a { color:#fff; }

/* articles pages */
.articlesContainer,
.pageContainer { margin-top:120px; }
.pageIntro { padding:20px; font-size:18px; color:#777; border-bottom:1px solid #eee; }
  .pageIntro:after { display:block; content:''; clear:both; }
.articlesSpecials .event-complete .event-image { box-shadow:none; }
.conditions { color:#999; font-style:italic; margin-top:10px; }

/* pages */
.padBox { padding:20px; border-bottom:1px solid #eee; }
.ticks li { list-style:none; background:url(../images/homeicon_tick.png) left top no-repeat; background-size:30px auto; text-indent:40px; line-height:30px; margin:0 0 10px 0; }
.drivesafe { height:130px; float:right; margin:0 0 10px 20px; }
.voucherImg { height:230px; float:right; margin:-30px 0 10px 20px; }
.voucherImg:after { content:''; display:block; clear:both; height:0; }
.mobilePh { float:left; height:220px; margin:0 20px 0 0; }
.mobileAndroid { height:100px; margin-bottom:10px; }
.mobileApple { height:100px; }

/* loading */
.resultsListings { background:url(../images/ajax-loader.gif) center center no-repeat; min-height:100px; }
.resultsMap #mapLoading { background:url(../images/ajax-loader.gif) center center no-repeat rgba(255,255,255,0.6); }
#resultDiv { background:#fff; }

/*=======================================================*/	
/*=======================================================*/
/*================= SEARCH SPECIFIC =====================*/
/*=======================================================*/
/*=======================================================*/	

.homeBook { position:absolute; top:395px; left:0; right:0; z-index:998; text-align:center; }
#resultsBox .webrooms-entity { background-image:url(../images/home-ico2.jpg); }
.resultsOuter .resultsMap,
.resultsOuter .resultsProperties { top:91px; }

/* Widths */
.headerBookPos { width:75%; float:right; margin:38px 1%; }
.headerBook { width:100%; }
.headerBook .searchBox-outer { width:30%; margin-right:0.5%; }
.headerBook #check-in-out { width:30%; }
.headerBook #q-guests { width:16%; margin:0 0.5%; text-indent:0; padding-left:35px; }
#propPage .headerBook #check-in-out { width:53%; }
#propPage .headerBook #q-guests { width:20%; }
#propPage .headerBook .search-button { width:25%; }
#homeSlideshow .homeBook #check-in-out { width:33%; }
#homeSlideshow .homeBook #q-guests { width:21%; margin:0 0.5%; }
#homeSlideshow .homeBook .searchBox-outer { width:23%; margin-right:0.5%; }
#homeSlideshow .homeBook .search-button { width:21%; }

#topBar { background:#1f1c1d; padding:0; height:45px; color:#fff; font-size:14px; font-weight:400; box-shadow:0 0 5px rgba(0,0,0,0.3); z-index:9998; height:45px; }
#topBar a { line-height:45px; color:#fff; }
.fixbar { position:fixed !important; width:55%; top:0; right:0; }
.fixbar .topbarLogin { margin-right:20px; float:right; display:none; }
.resultsOuter .resultsProperties { top:0; }


/*========================= 03 ==========================*/	
/*=======================================================*/	
/*=================== MOBILE STYLING ====================*/
/*=======================================================*/
/*=======================================================*/	


@media only screen and (max-width:1100px) 
{
	.property-contact-details { overflow:initial; }
}

@media only screen and (max-width:800px) 
{
.bodyStyle { margin-top:120px; position:inherit !important; }
html, body { }
h1,
#propContent h1,
h2.pageTitle { font-size:120%; margin-bottom:0.3em; font-weight:600; padding:0 0 0.5em 0; }
#propContent { padding:0 15px; }
.sitemap-list { font-size:100%; }
.pagePad { padding:0; }

/* home */
.stayLogo img { max-height:110px; }
.homeSlideshowPrev, .homeSlideshowNext { display:none; }
.homeBook { top:100px; }
#homeSlideshow,
#homeSlideshow .cycle-slideshow,
#homeSlideshow .slide { height:400px; }
.homePage { padding:0 0 1.5em 0; }
.homePage h1.pageTitle { margin:0 1.5em 1.5em 1.5em; padding:0 0 1em 0; }
#homeBoxes { margin:0; padding:0 1.5em; }
.homeBox { width:auto; display:block; margin:1em; padding:1em 0 2em 0; border-bottom:1px solid #eee; }
.homeBox3 { border-bottom:none; padding-bottom:0; margin-bottom:0; }
.slide { background-position:center top; }
.slideCaption { display:none; }

/* header */
.pageBanner { overflow:hidden; }

/* footer */
#footerBlock { margin:1.5em; padding:3em 0 1.5em 0; }
.footerCenter { width:auto; }
.footerLeft,
.footerRight { position:static; display:block; width:auto; text-align:center; }
.footerLeft a.btn { display:inline-block; margin:1em auto; padding:0.5em 1.5em; width:auto; max-width:none; }

/* articles */
.event-complete .event-inner { margin:0 0 1.5em 0; padding:0 0 1.5em 0; min-height:0; }
.event-complete .event-image { width:100%; height:200px; float:none; margin:0 auto 1.5em auto; }
.event-complete .event-name { font-size:120%; }

			
li.property-inner { margin-bottom:1em; width:100%; display:block; }

/* new */

.pageBanner .headerLogo { width:38%; }
.date-picker-wrapper { left:0 !important; }
  
  h2 { font-size:120%; }

  .headerBookPos { width:auto; float:none; margin:0; display:none; }
  .articlesContainer, .pageContainer { margin:0; padding:1.5em; }
  .pageContainer .pageContainer { padding:0; font-size:100%; }
  
  .footerNav,
  .footerCards { display:none; }
  .footerCopy {  }
  
  .pageIntro { padding:0 0 1em 0; font-size:100%; color:inherit; }
  .event-complete .event-description { margin:1em 0; }
  .pageArticles .event-complete .event-links a { line-height:initial; margin-bottom:5px; }
  .padBox { padding:1.5em 0; }
  .ticks li { text-indent:0; line-height:initial; padding-left:35px; background-size:25px auto; margin-bottom:1em; }
  .drivesafe { height:auto; float:none; margin:0; }
  .articlesSpecials .event-complete .event-image { background-size:contain; background-repeat:no-repeat; }
  .youtube iframe { height:250px; }
  .box { padding:1em; margin:1em 0 0 0; }
  
  .voucherImg { height:auto; margin:0 0 1em 0; float:none; }
  .mobilePh { display:none; }
  .mobileAndroid, .mobileApple { height:auto; }
  
  .membersPage li.property-inner { width:100%; padding:1em 0; margin:0; display:block; }
  .membersPage .property-image { width:100%; margin:0; display:block; height:150px; }
  .membersPage .property-details { width:100%; }
	.membersPage .property-name, 
	.membersPage .property-address { white-space:initial; overflow:initial; text-overflow:initial; font-size:100%; }
  
  /* home */
	#homeSlideshow .homeBook { top:20px; }
	#homeSlideshow .posRelative .homeBook #check-in-out,
	#homeSlideshow .posRelative .homeBook #q-guests,
	#homeSlideshow .posRelative .homeBook .searchBox-outer { width:100%; float:none; margin:4px 0; }
	#homeSlideshow .posRelative .homeBook .search-button { margin:0; height:50px line-height:50px; padding:0; }
	#homeSlideshow .posRelative .homeBook #searchBox { line-height:40px; height:40px; }
	
	#homeSlideshow {  }
  .homePage { padding:0; }
  .homePage h1.pageTitle { padding:0 0 0.5em 0; margin:1.5em; margin-bottom:1em; }
  
  /* results */
  #topBar { position:static !important; width:100%; }
  .GC .resultsFilters { padding-bottom:1em; }
  .GC #mapLoading { top:45px; }
  #resultDiv .result-outer .result-image { height:180px; }
#resultDiv .result-outer .result-address,
#resultDiv .result-outer .result-phone { display:block; margin-bottom:7px;}
#resultDiv .result-outer .result-phone { margin:0; margin-right:10px; display:inline-block; display:none; }
#resultDiv .result-outer h3,
#resultDiv .result-outer .result-contact,
#resultDiv .result-outer .as-description { white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
#resultDiv .result-outer h3 { width:63%; margin-top:15px; }
#resultDiv .result-outer .result-description,
#resultDiv .result-outer .availability-status,
#resultDiv .result-outer .result-contact { width:62%; left:37%; }
#resultDiv .result-outer .result-contact { top:45px; }
#resultDiv .result-outer .result-image { width:35%; margin-right:2%; }
#resultDiv .result-outer a.more-detail { width:20%; left:0%; bottom:0; }
#resultDiv .result-outer .result-description { display:block; position:absolute; top:65px; height:55px; overflow:hidden; font-size:13px; }
#resultDiv .result-outer .availability-status { bottom:15px; }
  .GC .result-outer .yes-availability .book-now { margin-left:0; }
  .GC .result-outer .yes-availability a { text-indent:0; position:static; width:auto; }
 	#resultDiv .result-outer .result-image,
	#resultDiv .result-outer h3,
	#resultDiv .result-outer .result-contact,
	#resultDiv .result-outer .result-description,
	#resultDiv .result-outer .availability-status,
	#resultDiv .result-outer a.more-detail { width:auto; margin:0 auto; float:none; position:static; display:block; }
	
	#resultDiv .result-outer h3,
	#resultDiv .result-outer .availability-status,
	#resultDiv .result-outer a.more-detail { margin-top:1em; }

  .date-picker-wrapper { margin:0.5em 1em; }
  .date-picker-wrapper .drp_top-bar { height:auto; }
  
  
  #login-trigger { font-size:0; float:left; }
  #logoutbutton {float:left;}
  #group-login-box { left:0; z-index:9998; text-align:left; width:80%; background:transparent; position:absolute; top:180px; }
  #group-guest-dashboard .guest-booking-list-outer { padding:0; margin-top:1em; }
  #group-guest-dashboard .guest-profile-outer { margin-top:0; }
  #group-guest-dashboard .guest-profile-outer,
  ul.guest-booking-list { padding:1.5em; }
  .guest-booking-listitem { padding:1em 0; }
  .status-Confirmed { float:none; }
  .booking-details-link  { display:block; border:none; text-align:center; border-bottom:2px solid rgba(0,0,0,0.2); 
  	font-family:'Open Sans', sans-serif; background:#1f4284; color:#e2a71a; width:100%;
  	padding:8px 0; font-weight:600; text-transform:uppercase; margin:10px 0; cursor:pointer; }
  .booking-details-outer, .booking-details-outer .terms { padding:0; border:none; margin:0; }
  .property-map { margin:1em 0 0 0; }
  .facilitiesTable .ASCategory,
  .features-div .ASCategory { padding:0; }
  .features-div .ASField-outer { display:inline-block; }
  .facilitiesTable .ASCategoryFeatures { padding:0; }
  .rwrRoomtype ul.desc-features-outer { margin:0 0 0 1em; padding:1em; }
#group-login-box ul.login-tools { text-align:left; }
.termsScroll { margin-top:1em; }
	}
	
/****** Golden Chain Styles *******/
.GC-header {position:fixed; background:#3d3f5e; height:auto; width:100%; z-index:999; top:0; left:0; right:0;}
.GC-header .logo {float:left; margin:20px 30px; }
.GC-header .navBar {float: right; top: 50px; right: 50px; margin-right:30px; } 
.GC-header .navBar ul {display:inline-flex; text-align:right; color:#fff; margin:6px; }
.GC-header .navBar ul li {list-style:none;}
.GC-header .navBar ul a {color:#fff; text-transform:uppercase; }
.GC-header .toolBar {float:right; top:10px; right:50px;}
.GC-header .toolBar .social {float:right;}
.GC-header .toolBar ul {display:inline-flex; text-align:right; color:#fff; }
.GC-header .toolBar ul a {color:#fff; }
.GC-header .toolBar ul li {list-style:none; border:1px solid #fff; padding:3px 8px; border-radius:50%; margin-left:10px; }
.GC-header .toolBar ul li:hover {background:#ffc948;}
.GC-header .left {float:left;}
.GC-header .right {float:right; text-align:right; margin-right:30px;}
.GC-header .toolBar a img {margin-top:15px;}

.social span { font-weight: bold; color: #ffc948; margin-left:10px; font-size:16px; }
.social .fa-phone {color:#fff;}
.social a {color:#fff;}


/**** Page container *****/
.property-contact .property-image li {width:100%; height:100%; margin:0;}
.property-contact .property-image ul {margin:0;}

/******** website Footer *********/
.footerBlock {line-height:24px;}
.footerBlock .phone_number h3 { font-size: 18px;color: #fff;text-transform: uppercase;margin: 0px; font-weight:400; padding: 0 0 10px 0;}
.footerBlock .phone_number a { font-size: 36px; font-weight: bold;color: #fff; display: block;}
.footerBlock .phone_number  {text-align: center; padding-bottom: 40px;}
.footerBlock .footer_top { background: #2d2e45; padding: 60px 0;}
.footerBlock .ft_box { width: 18%; float: left; padding: 0 10px; }
.footerBlock .ft_box h2 {font-size: 14px; color: #ffc948; text-transform: uppercase; text-align:left; padding: 0 0 12px 0;}
.footerBlock .ft_box ul { margin: 0px; padding: 0px; list-style: none; text-align:left;}
.footerBlock .ft_box ul li { display: block; margin: 0 0 7px 0; }
.footerBlock .ft_box ul li a { display: block; font-size: 14px; color: #ffffff; }
.footerBlock .ft_box ul li a:hover { color: #ffc948;}
.footer_bottom {  background: #3d3f5e; padding: 40px 0;}
.ft_social { text-align: right;}
.ft_social ul li {list-style:none; display:inline; margin:10px 0;}
.ft_social ul li a {color:#fff; padding:5px 8px; border:1px solid #fff; border-radius:50%; }
.ft_social ul li a:hover {background:#ffc948;}
.footer-social {width:30%; float:left;}
.ft_social h3 { font-size: 18px; line-height: 30px; color: #fff; padding-bottom: 10px;}
.footer-login {width:20%; float:right; text-align:right;}
.footer-login a {color:#fff; line-height:30px; font-size:14px;}

/******Home page******/
.homeBook h1 {font-size:250%; color:#fff; font-weight:700;}


/**** Mobile design ****/
@media only screen and (max-width:800px) 
{ 
	/*header*/
	.GC-header {height:180px; position:absolute;}
	.GC-header .left {text-align:center; width:100%; }
	.GC-header .logo {width:100%; text-align:center; margin:20px auto; margin-bottom:10px;}
	.GC-header .navBar {float:none; margin:0;}
	.GC-header .right {float:none; text-align:center; margin:0;}
	.GC-header .toolBar {width:100%; text-align:center;}
	.GC-header .toolBar .social {width:100%; float:none; text-align:center; background:#3d3f5e; }
	.property-contact {height:auto; display:block; }
	.property-contact-box {width:100%;margin-top:220px; text-align:center; }
	.property-contact-details {padding:20px;}
	.property-contact .contact-address {background-image:none;}
	.property-image { width:100% !important; height:auto; max-height:220px; position:relative; }
	/*.property-image { width:100% !important; max-height:220px; position:relative; }*/
	.rwrRoomtype {padding:0; border:none;}
	.rwrRoomtype h2, .fromCap, .desc-tabs, .desc-text-div, .desc-avail, .book-roomtype {width:100% !important;}
	
	#propContent {margin-top:0;}
	
	/* roomtypes */
  .rwrRoomtype { padding:0 0 2em 0; margin:0 0 2em; border:none; border-bottom:1px solid #ddd; }
 h2.roomtype-category { margin:1em 0; padding:0.5em; font-size:130%; background:#1f4284; color:#e2a71a; text-align:center; }
 .rwrRoomtype h2 { padding:0; width:auto; font-size:125%; line-height:100%; text-align:center }
 .rwrRoomtype .fromCap { padding:0; width:auto; }
 .rwrRoomtype .desc-from, 
 .rwrRoomtype .desc-cap { position:static; display:block; color:#999; background:none; text-align:center; }
.popup-desc .features-div,
 .rwrRoomtype .desc-text-div { padding:1.5em 0; width:auto; line-height:inherit; border:none; }
 .rwrRoomtype .desc-description-outer,
 .rwrRoomtype .no-images .desc-description-outer,
 .rwrRoomtype .desc-images,
 .rwrRoomtype .desc-avail { width:100%; float:none; padding:0; margin:0 auto; }
 .rwrRoomtype .desc-images { position:static; height:auto; }
 .rwrRoomtype .desc-images a { display:none; }
 .rwrRoomtype .desc-images a.first { display:block; margin:0.5em auto; float:none; height:200px; }
 .rwrRoomtype .desc-avail { }
 .rwrRoomtype .desc-avail-table { margin-top:0; padding-top:0; height:auto; }
 .rwrRoomtype .desc-images img {  }
 .rwrRoomtype .book-sub { display:none; }
 .rwrRoomtype .book-title { padding:0; text-align:center; display:block; }
.booking-engine-outer { width:100%; }	
.rwrRoomtype ul.desc-features-outer li { padding-right:0; float:none; width:100%; }
	.facilitiesTable {padding:20px;display:block; }
	.property-features-div { display:block;}
	
	/*******Footer*******/
	.footerBlock .ft_box h2, .footerBlock .ft_box ul {text-align:center;}
	.footerBlock .ft_box {width: 100%; margin: 0 0 20px 0; text-align: center; padding:0;}
	.footer-social {width:100%; float:none; text-align:center;}
  .ft_social {text-align:center;}
  .ft_social ul li {display:inline; margin:.1em;}
  .footer-login {width:100%; text-align:center;}
}

.deals-holder {text-align:center; width:100%; }
.booking-deals {vertical-align: top; padding: 0; border: none; margin: 0; padding: 5px; display: inline-block; box-sizing: border-box; width: 25%; position: relative; }
.booking-deals:hover {opacity:0.9;}
.booking-deals .deal-img {margin:0;}

/* new guest login button */
.guest-login-button { position:fixed; top:0; right:0; color:#fff; padding:10px; z-index:999; }
.guest-login-button a {color:#fff; font-size:24px;}

@media only screen and (max-width:800px) 
{ 
	.guest-login-button { position:absolute;}
}

/* new designs */
#roomTypeListings {width:100%;}
ul.social-buttons li a {padding: .375rem .75rem !important;}