/*=======================================================*/	
/*=======================================================*/	
/*=================== WEBSITE STYLING ===================*/
/*=======================================================*/
/*=======================================================*/	

			html, body {
				margin:0;
				padding:0;
				font-family:'Source Sans Pro', sans-serif;
				font-size:16px;
				font-weight:400;
				color:#333;
				background:#f5f5f5;
			}

			h1, h2, h3, h4 { font-family:'Yanone Kaffeesatz', sans-serif; text-transform:uppercase; }
			div#preload { display: none; }
			a { color:#118AD7; }
			b { font-weight:bold; }
			ul.nav { text-align:left; padding:0; margin:0; line-height:100%; }
			ul.nav li { padding:0; margin:0; display:inline-block; padding:0 20px; }
			ul.nav li a { text-decoration:none; display:block; }
			.mobile { display:none; }
			.basicPage ul { margin:10px 0; margin-left:20px; }
			
      /* home booking */
      .webrooms-datepicker { position:absolute; top:0; right:12px; height:41px; vertical-align:top; z-index:99991; }
			.datepicker-label,
			.datepicker-input,
			.datepicker-button,
			.datepicker-checkin,
			.datepicker-formstyle { display:inline-block; vertical-align:top; }
				.datepicker-label { background:url(../images/icon_calendar.png) center left no-repeat; padding-left:27px; line-height:41px; color:#fff; font-size:14px; }
				.webrooms-datepicker input { font-family:'Source Sans Pro', sans-serif; border:none; color:#fff; font-size:14px; background:#333; padding:0 10px; height:41px; line-height:41px; margin:0 10px; }
				.webrooms-datepicker input:hover { cursor:pointer; background:#444; }
				.datepicker-button { font-family:'Yanone Kaffeesatz', sans-serif; background-color:#fff; border:none; border-radius:10px; padding:0 50px 0 30px; color:#000; text-transform:uppercase; 
					font-size:25px; background-image:url(../images/icon_tick.png); background-repeat:no-repeat; background-position:88% center; background-size:20px; line-height:41px; height:41px; }
				.datepicker-button:hover { cursor:pointer; box-shadow:0 2px 5px rgba(0,0,0,0.1); transition-duration:0.5s; color:#444; }
				
			/* home slideshow */
			#homeSlideshow { background:url(../images/icon_loading.gif) no-repeat center 120px #111; position:relative; height:400px; }
				#homeSlideshow .slideBackground { height:400px; width:100%; background:transparent; background-position:center center; background-repeat:no-repeat; }
				#homeSlideshow .cycle-slideshow img { display:none; }
				.homeSlideshowPrev,
        .homeSlideshowNext { z-index:1000; position:absolute; line-height:100%; top:170px; border:none; background:none; padding:0; font-size:40px; font-weight:200; font-family:'Open Sans', sans-serif; color:#fff; opacity:0.3; }
        .homeSlideshowPrev { left:20px; }
        .homeSlideshowNext { right:20px; }
				.homeSlideshowPrev:hover,
        .homeSlideshowNext:hover { opacity:1; cursor:pointer; }
			
/* home boxes */
#homeListings	.all-properties-grouped-outer { margin-top:20px; }
#homeListings	.property-outer { position:relative; background:#fff; margin:0 0 20px 0; text-align:left; clear:both; overflow:hidden; }
#homeListings	.property-details { width:480px; padding:40px; }
#homeListings .property-image { position:absolute; width:400px; right:0; top:0; height:100%; background-color:#ddd; background-position:center center; background-size:cover; background-repeat:no-repeat; }
#homeListings .property-name a { text-decoration:none; color:#000; }
#homeListings .property-name a:hover { color:#118AD7; }
#homeListings .property-address,
#homeListings .property-phone { display:inline-block; color:#999; font-style:italic; font-size:15px; margin-right:10px; }
#homeListings .readmore { display:none; }
#homeListings .property-description { margin:10px 0; }
#homeListings a.view-property { background:#000; position:absolute; right:40px; bottom:40px; color:#c0e521; height:40px; line-height:40px; padding:0 20px; font-size:20px; Text-decoration:none; text-transform:uppercase; }
#homeListings a.view-property:hover { color:#fff; }


				

/****** Property Page *******/

			.pageTitle { color:#000; margin:20px 0 0; line-height:100%; text-align:center;  background:#c0e621; padding:20px 30px; }
			#headerBook .pageTitle { color:#fff; }
			h2.roomtype-category { font-size:24px; color:#000; font-weight:400; margin:0 0 20px 0; line-height:100%; background:#c0e521; padding:20px 30px; }
			h3 { font-size:20px; color:#000; font-weight:600; margin-top:15px; line-height:100%; }
			.basicPage p { margin:10px 0; }
			.box { background:#fff; padding:40px; }
#pageContentTop .property-description { background:#fff; padding:20px; margin:10px 0; text-align:center; }	

/* contact */
.property-contact { margin:0 0 20px 0; position:relative; background:#000; font-size:15px; color:#fff; line-height:18px; overflow:hidden; }
.property-contact-details { padding:40px; width:340px; }
.property-contact-details a { text-decoration:none; color:#fff; }
.property-contact-details a:hover { color:#118AD7; }
.property-contact h2 { color:#c0e521; font-size:18px; line-height:25px; }
.property-contact span { color:#999; display:inline-block; clear:left; }
.property-contact .contact-address { margin:8px 0 20px 0;  background:url("../images/icon_map.png") no-repeat left top; padding-left:20px; line-height:18px; }
.property-contact .property-image { float:right; position:absolute; top:0; right:0; width:540px; height:100%; background:#ddd; background-size:cover; background-position:center center; }
.property-contact .facebook-link,
.property-contact .twitter-link,
.property-contact .googleplus-link { display:inline-block; margin-right:5px;  }
.property-contact .facebook-link a,
.property-contact .twitter-link a,
.property-contact .googleplus-link a { width:20px; height:20px; text-decoration:none; display:block; text-indent:-999px; margin-top:10px;	background-size:20px; background-rpeat:no-repeat; background-position:top left; }
.property-contact .facebook-link a { background-image:url("../images/icon_facebook.jpg"); }
.property-contact .twitter-link a { background-image:url("../images/icon_twitter.jpg"); }
.property-contact .googleplus-link a { background-image:url("../images/icon_googleplus.jpg"); }

/* slideshow */
.cycle-slide .gallery-image { width:540px; height:340px; background-repeat:no-repeat; background-size:cover; background-position:center center; }
.cycle-slide .gallery-caption { display:none; }
.propPrev,
.propNext { position:absolute; z-index:1000; line-height:100%; top:24px; border:none; background:none; padding:0; font-size:18px; font-weight:400; font-family:'Open Sans', sans-serif; color:#fff; opacity:0.7; }
.propPrev { right:25px; }
.propNext { right:10px; }
.propPrev:hover,
.propNext:hover { opacity:1; cursor:pointer; }

/** webrooms room description **/
	.rwrRoomtype { position:relative; background:#fff; margin:0 0 20px 0; text-align:left; clear:both; overflow:hidden; }
	.rwrRoomtype .popup-desc { clear:both; overflow:auto; }
	.rwrRoomtype h2,
	.rwrRoomtype .fromCap,
	.rwrRoomtype .desc-text-div,
	.rwrRoomtype .desc-avail { width:480px; padding:0 40px; }			
/*title/from/cap*/
	.rwrRoomtype h2 { color:#000; font-size:20px; font-weight:400; text-transform:none; padding-top:40px; overflow:hidden; }
	.book-roomtype { background-color:#000; }
	.rwrRoomtype .desc-cap { color:#999; font-style:italic; font-size:15px; }
/*photos thumbs*/
	.rwrRoomtype .desc-images { position:absolute; width:400px; right:0; top:0; margin:0; font-family:Arial, Helvetica, sans-serif; height:100%; }
	.rwrRoomtype .desc-images a { display:inline-block; overflow:hidden; float:left; }
	.rwrRoomtype .desc-images a:hover { cursor: url('../images/magnify.cur'), -moz-zoom-in; }
	.rwrRoomtype .desc-images a img { display:block; min-width:100%; min-height:100%; }
	.rwrRoomtype .desc-images a.first { width:100%; height:100%; margin:0; }
/*description*/
	.rwrRoomtype .desc-description-outer { font-size:15px; padding:10px 0; }
	.rwrRoomtype .no-images .desc-description-outer {  }
/*features*/
	.rwrRoomtype ul.desc-features-outer { margin:5px 0; padding:10px 10px 10px 30px; overflow:auto; font-size:12px; border-radius:5px; background:#f5f5f5; color:#666; display:none; } /* hiding the stupid bullets for now */
	.rwrRoomtype ul.desc-features-outer li { width:30%; float:left; margin-right:10px; font-size:11px; line-height:16px; }
	.rwrRoomtype .no-images ul.desc-features-outer { width:40%; float:right; }
/*bookingbutton*/
	.rwrRoomtype .desc-book-button { background:url('../images/background_bookButton.png') top left no-repeat #1e4284; border:1px solid #2D86BF; border-radius:6px; font-size:14px;
		padding:7px 0; font-weight:bold; color:#fff; box-shadow:1px 1px 3px rgba(0,0,0,0.3); text-decoration:none; display:block; line-height:18px; }
	.rwrRoomtype .desc-book-button:hover { cursor:pointer; background:url('../images/background_bookButton.png') top left no-repeat #2653a4; box-shadow:1px 1px 3px rgba(0,0,0,0.5); }
/*avilability*/
	.rwrRoomtype .desc-avail { overflow:auto; font-family:Arial, Helvetica, sans-serif; text-align:center; padding-bottom:40px; }
	.rwrRoomtype .desc-avail h4 { font-weight:normal; font-size:10px; border-bottom:none; padding:5px 0 0 0; display:none; }
	.rwrRoomtype table.avail-table { margin:0 auto 10px auto; width:99%; font-size:10px; border-collapse:collapse; clear:both; }
	.rwrRoomtype table.avail-table th { font-weight:normal !important; color:#bbb; }	
	.rwrRoomtype table.avail-table td { padding:5px 0; border:1px solid #fff; }
		/*avilability*/
			.desc-avail-table { overflow:auto; font-family:Arial, Helvetica, sans-serif; text-align:center; }
			.desc-avail-table table { margin:0 auto; font-size:10px; border-collapse:collapse; clear:both; }
			.desc-avail-table table th { font-weight:normal !important; color:#aaa; background:#eee; width:85px; border:1px solid #fff; padding:5px 0; }	
			.desc-avail-table table td { padding:8px 0; border:1px solid #fff; }
		/*gradient*/
			.desc-avail-table table .yes-avail { color:#000; background:#a9ea4d;}
			.desc-avail-table table .yes-avail:hover { cursor:pointer; background:#94e521; }
			.desc-avail-table table .no-avail { color:#999; background:#ddd; }
/* button */
.book-roomtype { background-color:#111; display:block; text-decoration:none; padding:10px 0; box-shadow:1px 1px 5px rgba(0,0,0,0.2); border:1px solid #fff; border-top:none;
	background-image:url(../images/icon_tick.png); background-repeat:no-repeat; background-position:20px center; background-size:20px 20px; text-align:left; }
.book-title { font-size;font-size:20px; padding-left:50px; color:#fff; font-family:'Yanone Kaffeesatz', sans-serif; text-transform:uppercase; }
.book-sub { color:#666; font-size;font-size:13px; margin-left:7px; }
.book-roomtype:hover { background-color:#222; box-shadow:1px 1px 5px rgba(0,0,0,0.5); }

/* booking page */
.booking-engine-outer .row { position:relative; }
.bookingBox { background:#fff; padding:40px; margin:20px 0; }
#webroomsBookingEngine { background:url(../images/icon_loading.gif) no-repeat center 100px #fff; }
a.booking-back { font-size:14px; position:absolute; top:50px; left:30px; }

/* sitemap */
.sitemap-list li { margin:5px 0; }
.sitemap-title { display:block; font-size:14px; font-weight:700; }
.sitemap-caption { font-size:14px; }
			
			/* footer */
			.properties-map-outer { width:100%; height:400px; background:#ddd; margin-top:20px; }
			
			/* font */
			.bookTitle,
			.pageTitle,
			h2.roomtype-category,
			.property-contact h2,
			#homeListings .property-name { font-family:'Yanone Kaffeesatz', sans-serif; font-size:30px; }
			.basicPage h3,
			#homeListings a.view-property { font-family:'Yanone Kaffeesatz', sans-serif; }
			
			/* shadows */
			.pageTitle,
			#pageContentTop .property-description,
			.property-contact,
			h2.roomtype-category,
			.rwrRoomtype,
			.bookingBox,
			#homeListings	.property-outer,
			.box { box-shadow:0 1px 3px rgba(0,0,0,0.05); }
			
			
			

/*=======================================================*/	
/*========================= 02 ==========================*/	
/*=======================================================*/







/*========================= 03 ==========================*/	
/*=======================================================*/
/*==================== MOBILE STARTS ====================*/
/*=======================================================*/
/*=======================================================*/	


			@media only screen and (max-width: 940px) 
				{
					body { text-align:center; font-size:100%; line-height:140%; }
					.mobile { display:block; margin:auto; }
					.remove { display:none !important; }
					
				/* home */				
				#homeOuter { height:auto; margin-top:0; }
				#homeListings { margin:1em; }
				.pageTitle { margin-top:0; }
				#homeListings	.all-properties-grouped-outer { margin-top:1em; }
				#homeListings .property-image { position:static; width:100%; height:200px; }
				#homeListings	.property-details { width:auto; padding:1em; text-align:center; font-size:90%; }
				#homeListings .property-name a { font-size:90%; }	
				#homeListings a.view-property { position:static; display:block; text-align:center; padding:0; }	
					
				/* motel page */
				#pageContentTop .property-description { margin:0; padding:1em; }
					.property-contact,
					.property-contact .property-image,
					.property-contact-details { width:100%; float:none; display:block; margin:0; padding:0; height:auto; }
					.property-contact { margin:0 1em; width:auto; }
					.property-contact .property-image { height:200px; position:static; }
					.cycle-slide .gallery-image { height:200px; }
					.property-contact-details { width:auto; padding:1em; font-size:90%; line-height:140%; }
					.property-contact h2 { font-size:160%; line-height:150%; }
					.property-contact .contact-address { background:none; padding:0; margin:0; line-height:inherit; }
					.property-contact .facebook-link a { margin:auto; }
					
				/* roomtypes */
				#roomTypeListings { margin:0 1em; }
					.rwrRoomtype { padding:1em 0; margin:0 0 1em; text-align:center;; }
					h2.roomtype-category { margin:0.5em 0; padding:0.5em 0; font-size:160%; }
					.rwrRoomtype h2 { margin:0; padding:0; width:auto; font-size:125%; line-height:100%; }
					.rwrRoomtype .fromCap { padding:0; width:auto; }
					.rwrRoomtype .desc-from, 
					.rwrRoomtype .desc-cap { position:static; display:block; color:#999; }
					.rwrRoomtype .desc-text-div { padding:1em; width:auto; font-size:90%; line-height:inherit; }
					.rwrRoomtype .desc-description-outer,
					.rwrRoomtype .no-images .desc-description-outer,
					.rwrRoomtype .desc-images,
					.rwrRoomtype .desc-avail { width:100%; float:none; padding:0; margin:0 auto; }
					.rwrRoomtype .desc-images { position:static; }
					.rwrRoomtype .desc-images a { display:none; }
					.rwrRoomtype .desc-images a.first { display:block; width:90%; margin:0.5em auto; float:none; }
					.rwrRoomtype .desc-avail { width:90%; }
					.rwrRoomtype .desc-avail-table { margin-top:0; padding-top:0; }
					.rwrRoomtype .desc-images img { float:none; margin:0 auto; display:block; }
					.rwrRoomtype .book-sub { display:none; }
					.booking-engine-outer { width:100%; }	
									
				/*slideshow*/
				.homeSlideshowPrev, .homeSlideshowNext { display:none; }
					#homeSlideshow { height:auto; overflow:visible; background:#000; }	
					#homeSlideshow .slideBackground { height:auto; width:auto; background-image:none !important; }
					#homeSlideshow .cycle-slideshow img { display:block; width:100%; height:100%; }
					
				/*page*/
					.box { padding:1.5em; }
					#pageContentTop { margin:2em 0 1em; padding:0 1em; font-size:90%; line-height:140%; text-align:left; }
					.pageTitle { font-size:160%; margin-bottom:0; text-align:center; padding:0.5em; }	
					#webroomsBookingEngine { width:100%; }
					.bookingBox { padding:1em; margin:0; background:#fff; border:none; box-shadow:none; }
	        
			/* footer */
					.properties-map-outer { height:300px; margin-top:0; }
					.footerCopy { padding:0.5em 1em; }

				/* header */
				#headerContainer { padding:0; height:60px; }
				#headerNav { background:#000 !important; }
				.ppgLogo { height:30px; position:fixed; top:0; left:20px; margin:0; z-index:10000; display:none; }
				.ppgLogo img { height:20px; }
				.ppgContact { margin:auto; float:none; margin-top:11px; width:280px; }
				.ppgContact h2 { font-size:18px; }
				.ppgContact p { font-size:11px; }
				
			/* book */
			.datepicker-label,
			.datepicker-input,
			.datepicker-button,
			.datepicker-formstyle { margin-bottom:0.5em; }
				.webrooms-datepicker { top:60px; background:#333; left:0; width:100%; padding:0.5em 0 0; height:auto; }
				.datepicker-label { line-height:30px; }
				.webrooms-datepicker input { height:30px; line-height:30px; background:#555; width:95px; }
				.datepicker-button { border-radius:0; width:50px; background-color:#000; padding:0; text-indent:-999px; font-size:150%; background-size:16px; background-position:center center; line-height:30px; height:30px; overflow:hidden; }
				
				
				}

			/* MOBILE */
			@media (max-width: 480px)
				{
					.property-group-outer, 
					#homeListings .event-list-outer { width:90%; float:none; }
				}


/*=======================================================*/	
/*========================= 03 ==========================*/	
/*=======================================================*/