description:Page containing site map link list.

customContent1:General summary content for this page.
customContent2:
customContent3:
customContent4:

allowMultiple:false
allowCreate:true
allowDelete:true
allowEditUrl:false
allowEditStatus:false

defaultName:Site Map
defaultTitle:Site Map
defaultUrl:sitemap

customConfig-name:eventCategoryId_events
customConfig-label:Footer News
customConfig-type:eventCategory

** template start **

<!-- header.inc is included here -->


<section class="detailssearch" id="proppageSearch">
	<div class="container">
		%GROUP_LOCATION_SEARCH_CONTROLS%
	</div>
</section>

<section class="popular_part">
   <div class="container">
      <div class="cms">            
				<h1 class="pageTitle">%PAGE_TITLE%</h1>
				%PAGE_CUSTOM_CONTENT_1%
				%SITEMAP%
			</div>
	</div>
</section>


<!-- footer.inc is included here -->
