description:Page containing site map link list.

customContent1:General summary content for this page.
customContent2:
customContent3:
customContent4:

allowMultiple:false
allowCreate:true
allowDelete:false
allowEditUrl:false
allowEditStatus:false

defaultName:Site Map
defaultTitle:Site Map
defaultUrl:sitemap

** template start **

<div class="LAMbg LAMpageBg">
	<div class="">
		<div class="headerLogo">
			<a href="index.html" title="Look After Me - New Zealand's Premium Homestay Network">
				<img src="images/LAM-logo.png" alt="Look After Me" />
			</a>
			<div class="full-nav">
		 <ul>
	  	<li><a href="index.html">Home</a></li>
	  	<li><a href="search.html">Search</a></li>
	  	<li><a href="hosting.html">Hosting</a></li>
	  	<li><a href="guest-dashboard.html">My Bookings</a></li>
	  	<!-- <li><a href="vouchers.html">Gift Vouchers</a></li> -->
	  	<li><a href="blog.html">Blog</a></li>
	  	<li><a href="press-room.html">Press Room</a></li>
			<li><a href="contact.html">Contact</a></li>	
			<li><a href="about.html">About</a></li>
	   </ul>
		</div>
		</div>
	</div>
</div>

<div class="headerBar">
		Look After Me
	</div>

<div class="pageContainer">
	<div class="row sitemap-row">
		<h1 class="pageTitle title-h1">%PAGE_TITLE%</h1> 
		<div class="pagePad">
	    %PAGE_CUSTOM_CONTENT_1%
	    %SITEMAP%
	  </div>
	</div>
</div>
