<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
 <rewrite>
 <rules>
 <clear />
<rule name="Redirect to https" stopProcessing="true">
 <match url=".well-known/*" negate="true" />
 <conditions>
 <add input="{HTTPS}" pattern="on" negate="true" />
 <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" negate="true" />
 </conditions>
 <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="true" />
</rule>
 </rules>
 </rewrite>
 </system.webServer>
</configuration>